pkgbase = droidcam-obs-plugin
	pkgdesc = plugin for droidcam obs
	pkgver = 1.6.0
	pkgrel = 2
	url = https://dev47apps.com/obs/
	arch = x86_64
	arch = i686
	license = GPL
	depends = obs-studio
	depends = libjpeg-turbo
	depends = libusbmuxd
	depends = libimobiledevice
	provides = droidcam-obs-plugin
	conflicts = droidcam-obs-plugin
	source = droidcam-obs-plugin::git+https://github.com/dev47apps/droidcam-obs-plugin.git#tag=1.6.0
	source = fix-Makefile.patch
	sha256sums = SKIP
	sha256sums = f9a57b64ab8e156a9e25355010a41d059a4486f9af402505975dc9e4bb1c3d56

pkgname = droidcam-obs-plugin
